<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      a {
        text-decoration: none;
        color: blue;
      }

      img {
        height: auto;
        width: 8rem;
        position: absolute;
        left: 0;
      }
      .name {
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <div class="name">Hi <b>{{coach_name}}</b>,</div>
    <br />
    <div>
      Congratulations! You are on-boarded on the Meeraq platform as part of our
      <b>‘Coach Panel’</b>. <br /><br />
      Meeraq is the platform where you will never have to worry about scheduling
      coaching sessions with coachees or keep track of your sessions manually.
      We do it for you!!
      <br /><br />

      <a href="https://coach.meeraq.com/">Click here</a> to access the platform.
      Bookmark this one.<br /><br />
      <b>Your Username: {{username}}</b><br />
      <b>Your Password: {{password}}</b><br /><br />

      If you face any issues or have any queries, please reach out to our team
      at
      <a href="mailto:pmo@meeraq.com">pmo@meeraq.com</a>

      <br />
      <p class="child-para"><a href="https://qa.api.meeraq.com/microsoft/oauth/{{username}}/" style="text-decoration: underline;">Add to Outlook Calendar</a></p>
      <br />
      Regards, <br />
     <p>Meeraq</p>
    </div>
  </body>
</html>
