<!DOCTYPE html>
<html>

<head>
    <title>ADD EVENT</title>
    <style>
        .larger-text {
            font-size: 32px;
        }

        .session-details span {
            font-weight: 600;
        }

        .benifits {
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div>Hi {{name}},</div>
    <br />
    <br />
    <span>Your coaching slot is confirmed! Do not miss this transformative experience!</span><br />
    <div class="session-details">
        <div class="data">
            📅 <span>Date:</span> {{date}}
        </div>
        <div class="data">
            ⌚ <span>Time:</span> {{time}}
        </div>
        <div class="data">
            ⏱️ <span>Duration:</span> {{duration}}
        </div>
        <div class="data">
            ⏱️ <span>Link:</span> {{link}}
        </div>
    </div>
    <br />
    <br />
    <div class="benifits">
        Benefits of Coaching:
    </div>
    <br />
    The personal benefits of coaching are wide-ranging and will positively impact your career and life if you engage
    with your coach on your personal learning road-blocks or inhibitions.
    <br />
    <br />
    Coaching is known to boost confidence, remove biases, improve work performance, build effective communication skills
    and transform mindsets to a growth powered shift.
    <br /><br />
    Happy Learning!
</body>

</html>