<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      a {
        text-decoration: none;
        color: blue;
      }

      img {
        height: auto;
        width: 8rem;
        position: absolute;
        left: 0;
      }
      .name {
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <div class="name">Hi <b>{{coachee_name}}</b>,</div>
    <br />
    <div>
      <p class="child-para">
        <a
          href="http://127.0.0.1:8000/microsoft/oauth/{{email}}/"
          style="text-decoration: underline"
          >Give Authorization to Outlook Calendar</a
        >
      </p>
      <br />
      <br />
      If you face any issues or have any queries, please reach out to our team
      at
      <a href="mailto:pmo@meeraq.com">pmo@meeraq.com</a>

      <br />

      <br />
      Regards, <br />
      <img src="https://www.meeraq.com/logo.png?v=4" alt="Meeraq" />
    </div>
  </body>
</html>
