<!DOCTYPE html>
<html>

<head>
    <title>ADD EVENT</title>
    <style>
        .larger-text {
            font-size: 32px;
        }

        .session-details span {
            font-weight: 600;
        }

    </style>
</head>

<body>
    <div>Hi ,</div>
    <br />
    <br />
    <span>Please note that the below coaching session has been canceled.</span><br />
    <div class="session-details">
        <div class="data">
            📅 <span>Date:</span> {{date}}
        </div>
        <div class="data">
            ⌚ <span>Time:</span> {{time}}
        </div>
    </div>
    <br />
    


    Thanks,<br />
    Team Meeraq
</body>

</html>