<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      a {
        text-decoration: none;
        color: blue;
      }

      img {
        height: auto;
        width: 8rem;
        position: absolute;
        left: 0;
      }
      .name {
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <div class="name">Hi <b>{{coach_name}}</b>,</div>
    <br />
    <div>
      A new request for your schedule has just popped in from Meeraq. Give your
      availability now , grab the opportunity to coach leaders and help them
      grow.<br /><br />
      <a href="https://coach.meeraq.com/">Check it out here!</a><br /><br />
      Hurry and act now as the request expires on {{expire_date}} at the end of
      the day.You will be notified when your slot gets booked!
      <br /><br />
      If you face any issues or have any queries, please reach out to our team
      at
      <a href="mailto:pmo@meeraq.com">pmo@meeraq.com</a>.

      <br />
      <br />
      Regards, <br />
      <img src="https://www.meeraq.com/logo.png?v=4" alt="Meeraq" />
    </div>
  </body>
</html>
